<%- include Partials/header.ejs %>
<%- include Partials/main_nav.ejs %>

  <!--Main Content-->
  <main>
    <div class="jumbotron jumbotron-fluid">
      <div class="container">
        <h1 class="display-4">Welcome to the <%= title %> page</h1>
      </div>
    </div>
  </main>

<%- include Partials/bottom_nav.ejs %>
<%- include Partials/footer.ejs %>
